<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <style>
      body {
        background-color: #333333;
        color: #ffffff;
      }
    </style>
    <title>Document</title>
  </head>
  <body>
    <div class="container mt-5">
      <div class="text-center">
        <h3 class="mb-4">Bienvenido</h3>
        <button id="btnlogout" type="button" class="btn btn-primary">
          Log Out
        </button>
      </div>
    </div>
    <script type="module" src="../controllers/home.js"></script>
  </body>
</html>
